body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #11161a;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-con {
	text-align: center;
	border-radius: 30px;
	background-color: #141a20;
	padding-bottom: 1rem;
	max-width: 500px;
	width: 100%;
	height: max-content;
	font-family: sans-serif;
}

.question-con {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.question-con input {
	appearance: none;
}

.question {
	font-size: 1.5rem;
	margin-bottom: 12px;
}

.question-options {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* #1e262e */
/* #1470cd */

.question-item {
	padding: 12px;
	margin: 8px 12px;
	background-color: #1e262e;
	transition: 200ms;
	appearance: none;
}

.question-options .question-item {
	border-radius: 12px;
}

.question-options .question-item:hover {
	cursor: pointer;
	background-color: #1470cd;
}

.question-status {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 1rem;
}

.correct-ans {
	background-color: green;
	display: none;
}

.wrong-ans {
	background-color: red;
	display: none;
}

.dis-block {
	display: block;
}
